
@{
    ViewBag.Title = "Links";
}

<h2>Index</h2>

<h3>Search Engines</h3>
<ul>
    <li><a href="http://google.com">Google</a></li>
    <li><a href="http://bing.com">Bing</a></li>
    <li><a href="http://yahoo.com">Yahoo</a></li>
</ul>

